.panel
  = form_tag swit_comment_path()
  = hidden_field_tag :commenter, @name
  = text_area_tag :text, @comment.comment, :autofocus => true, :style => "transparent: 20%; resize: none;", :placeholder => "Write a comment", :rows => 2, :cols => 50
  %input#postbutton{type:"submit", value:"save"}