/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import 'foundation-icons';

@font-face{
	font-family: ChocolateDealer;
	src: url('Chocolate Dealer.otf');
}

@font-face{
	font-family: Intro;
	src: url('Intro.otf');
}

body{
	font-family: ComicNeue;
}

.ghost{
	display: none !important;
	visibility: none !important;
}

a{
	color:#4DAB7F !important;
}

a:hover{
	color:#5CCC98 !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.longsubmitbutton{
	width: 180px;
	font-size: 35px;
	color: #316E51;
	background-color: #67E6AA;
	height:40px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.longsubmitbutton:hover{
	color: #48A176;
}

#banner{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #67E6AA;
	border-top: solid 8px #48A176 !important;
	height:55px;
	margin:0 auto 35px auto;

	overflow:hidden;
	border: none;
}

#brand{
	margin: 0;
	text-align: center;
	margin-top: -25px;
	font-family: ChocolateDealer;
	font-size: 70px;
	color:#7B3F00;
	margin-right:10px;
	margin-left:10px;
}

brackets{
	font-family: none;
	color:#469971;
}

#profile-image{
	overflow: hidden;
}

#profile-image > a > img{
	position:relative;
	-webkit-animation: myfirst 5s linear 2s infinite normal running; /* Chrome, Safari, Opera */
	animation: myfirst 5s linear 2s infinite normal running; /* Standard syntax */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0%   {left:-25%;}
100% {left:100%;}
}

/* Standard syntax */
@keyframes myfirst
{
0%   {left:-25%;}
100% {left:100%;}
}

#profile-image{
	width: 100%;
	border: solid 1px #D8D8D8;
	margin-bottom: 20px;
}

textarea{
	resize: none;
}

#banner{
	z-index: 100;
}

#postbutton{
	width: 130px;
	font-size: 35px;
	color: #316E51;
	background-color: #67E6AA;
	height:55px;
}

#postbutton:hover{
	color: #48A176;
}
.sweetbutton, .sourbutton{
	width: 100px;
	height: 30px !important;
	font-size: 25px;
}

.sweetbutton{
	background-color: #E60288;
	color: #6E0141;
	height:55px;
}

.sweetbutton:hover{
	color: #A1015F;
}

.sourbutton{
	background-color:#E4FC00;
	color: #636E00;
	height:55px;
}

.sourbutton:hover{
	color: #91A100;
}

input[type="submit"]{
	font-family: Intro;
	overflow: hidden;
	border: none;
}

#counter{
	font-size:25px;
	color: #A6A6A6;
	font-family: Intro;
}

.commentbutton{
	display: none;
	visibility: none;
}

.commentinput{
	margin-bottom: 0px;
}

#results{
	font-family: Intro;
	color: #A6A6A6;
}

footer > div{
	background-color: #f2f2f2;
	border-top: solid 5px #D8D8D8;
}

footer > div > div > p > i{
	font-size: 25px !important;
}